---
import MDXCodeBox from '../../components/code/code';
const guides = Object.values(await Astro.glob('./guides/*.mdx'));

const integrations = guides.map((it: any) => ({
  name: it.frontmatter.name,
  logo: it.frontmatter.logo,
  Content: it.Content,
}));
---

<div id="integrations-section">
  <h2 class="lg:text-3xl mb-2 text-2xl px-4">Serverize Everything:</h2>
  <p class="text-secondary-foreground/70 px-4">
    Supports all frameworks and languages, including Node.js, PHP, Python, Ruby,
    Go, PHP, Rust, and more.
  </p>
  <div
    style="grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr));"
    class="mb-8 gap-6 not-prose grid px-4"
    id="integration-btn"
  >
    {
      integrations.map((it) => (
        <button
          data-integration={it.name}
          class="flex justify-center tracking-wider font-medium text-secondary-foreground items-center flex-col gap-y-4 group cursor-pointer"
        >
          <div class="w-20 border border-border rounded py-4 px-5 group-hover:bg-slate-100 group-hover:dark:bg-[#272727]">
            <img class="h-10" src={it.logo} />
          </div>
          <span class="text-sm truncate">{it.name}</span>
        </button>
      ))
    }
  </div>
  {
    integrations.map(({ name, Content }) => (
      <div class="hidden" data-integration-guide={name}>
        <Content />
      </div>
    ))
  }
</div>

<script>
  const urlSearchParams = new URLSearchParams(window.location.search);
  selectIntegration(urlSearchParams.get('integration') || 'Node.js');

  const btn = document.getElementById('integration-btn')!;
  btn.addEventListener('click', (event) => {
    const target = (event.target as HTMLElement).closest('button');
    if (!target) return;
    const integration = target.getAttribute('data-integration');
    if (!integration) return;
    selectIntegration(integration);
    history.pushState({}, '', `?integration=${integration}`);
    const container = document.getElementById('integrations-section')!;
    container.scrollIntoView({ block: 'start', behavior: 'smooth' });
  });

  function selectIntegration(integration: string) {
    const guides = document.querySelectorAll('[data-integration-guide]');
    const relatedGuide = document.querySelector(
      `[data-integration-guide="${integration}"]`,
    );
    if (!relatedGuide) return;
    relatedGuide.classList.toggle('hidden');
    guides.forEach((guide) => {
      if (guide !== relatedGuide) {
        guide.classList.add('hidden');
      }
    });
  }
</script>
