---
import type { MarkdownLayoutProps } from 'astro';
import BlogContainer from './Blog/BlogContainer.tsx';
import BlogHeader from './Blog/BlogHeader.tsx';
import Main from './main.astro';
import { Nav } from '../components/background.tsx';
import GuideHeader from './Blog/GuideHeader.tsx';

type Props = MarkdownLayoutProps<{
  title: string;
  author: string;
  date: string;
  minutesRead: string;
  subtitle: string;
}>;
const { frontmatter, url } = Astro.props;
const canonical = Astro.site && url ? new URL(url, Astro.site).pathname : '';
---

<Main title={frontmatter.title} canonical={canonical}>
  <Nav className="bg-inherit" />
  <div class="max-w-5xl xl:px-0 lg:px-10 px-4 mx-auto w-full">
    <a
      href="/guides"
      class="flex items-center mt-4 md:mb-8 no-underline hover:underline cursor-pointer md:mt-12 gap-x-0.5 text-sm text-secondary-foreground/70 font-medium"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-4 mr-1"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18"></path>
      </svg>
      Back to Guides
    </a>
    <BlogContainer>
      <div class="mt-16 hidden md:block"></div>
      <article class="prose max-w-full lg:px-8 lg:mx-28 md:mx-8 mx-2">
        <GuideHeader
          title={frontmatter.title}
          subtitle={frontmatter.subtitle}
          author={frontmatter.author}
          date={frontmatter.date}
          minutesRead={frontmatter.minutesRead}
        />
        <slot />
      </article>
    </BlogContainer>
  </div>
</Main>
